.aboutme-wrapper {
  width: 100%;
  background-color: white;
}

.about-me {
  text-align: center;

  .title {
    color: black;
    font-size: 2.5em;
    font-weight: 600;
  }

  img {
    width: 40px;
  }
  .info-text {
    text-align: justify;
    padding-left: 10%;
    color: #4f4f4f;
  }

  .columns {
    display: flex;
    align-self: center;
  }

  .info-wrapper {
    width: 330px;
    display: flex;
    margin: auto;
  }
}
