.footer-wrapper {
  background-color: #000000;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-weight: 500;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
  }
}
