.footer-wrapper {
  background-color: #e9ecef;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-weight: 500;
    font-size: 0.8em;
    color: rgb(53, 53, 53);
  }
}
