.navbar-brand {
  color: rgba(0, 0, 0, 0.54) !important;
}
.navbar-nav {
  font-size: 0.9em;
  font-weight: 600;
}
.nav-link {
  color: rgba(0, 0, 0, 0.54) !important;
}
.active {
  color: black !important;
}
.nav {
  margin-left: auto !important;
}
