.profile {
  width: 100%;
  min-height: 50vh;
  background: linear-gradient(
    180deg,
    #ff5e0062 0%,
    rgba(255, 196, 0, 0.282) 100%
  );
  text-align: center;

  .row {
    min-height: 50vh;
  }

  .profile-img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 200px;
    width: 250px;
    height: 250px;
    margin: auto;
  }

  .profile-left-wrapper {
    margin: auto;
  }

  .profile-title {
    font-size: 2.5em;
  }

  .line {
    display: flex;
    margin: auto;
    height: 3px;
    width: 50px;
    background-color: #ff5f00;
  }

  .profile-content {
    font-size: 1em;
    color: #4f4f4f;
  }
}
