.projects-wrapper {
  width: 100%;
  background-color: rgb(255, 196, 0);
}

.projects {
  text-align: center;
  .title {
    color: black;
    font-size: 2em;
    font-weight: 600;
  }

  .project {
    background-color: white;
    border-radius: 15px;

    img {
      width: 100%;
    }

    .date {
      color: #7b7b7b;
    }
  }
}
